.cell-container {
  /*
   * Hack to correct the drag previews. Without this, in VSCode, a drag preview included any
   * selected editor, along with all selected editors below it. For details on why this worked,
   * and whether this bug has been fixed, see:
   * https://github.com/react-dnd/react-dnd/issues/832#issuecomment-442071628
   */
  transform: translate3d(0, 0, 0);

  &.drag {
    /*
     * Hide element when dragged.
     */
    opacity: 0;
  }
}

.cell {
  /*
   * TODO(andrewhead): Use Material-UI parameters for padding.
   */
  padding: 20px;
  cursor: move;
}

.snippet {
  /*
   * Check the declaration of the markers for full control over the appearance of lines. For
   * example, the marker may have been declared to be "in front" of the text, which will make
   * the text partly invisible.
   */
  .requested-visible {
    background-color: white;
    opacity: 0.5;
  }
}
